---
import "../styles/style.css";

const title = "ile.sh";
const description = "Iivari Leinonen - #developer, #designer, #human";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description}
    />
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description}
    />
    <meta property="og:image" content="/share.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="true"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=block"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
